.idea/

index.html
index-dev.js
dist/

*.tgz
.codeclimate.yml
.eslintrc.js
.eslintignore
tsconfig.json
aws-profile.json
babel.config.json
.vscode
.env

test/
*.test.js
src/
index.ts

testSDK.js
webpack.dev.js
webpack.prod.js

