.idea/

index.html
index-dev.js
dist/

*.tgz
.codeclimate.yml
.eslintrc.js
.eslintignore
aws-profile.json
babel.config.json
.vscode
.env

test/
*.test.js
jest.config.js

src/
index.ts
webpack.dev.js
webpack.prod.js
fixup
tsconfig.json
tsconfig.cjs.json
tsconfig.base.json

